.dp_head--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
}

.dp_head--chevron {
    width: 10px;
    height: 10px;
    display: inline;
}

.dp_head--chevron:hover {
    opacity: .3;
}

.dp_head--chevronLeft {
    transform: rotate(180deg);
}

.dp_head--leftDoubleChevron {
    margin-right: 10px;
}

.dp_head--rightDoubleChevron {
    margin-left: 10px;
}

.dp_head--dateHeading {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.dp_head--controlsWrapper {
    display: flex;
}

.dp_head--controlsWrapper:hover {
    cursor: pointer;
}

.dp_head--control {
    display: inline-block;
}
